In [1]:
import numpy as np
import pandas as pd
import os
import sys
sys.tracebacklimit = 0 # turn off the error tracebacks

In [2]:
os.getcwd
oldpath = os.getcwd()
os.chdir("data")

In [3]:
anes = pd.read_csv("anes_example.csv")

In [4]:
pd.set_option('display.max_columns', 10) # display a max of 10 columns
pd.set_option('display.max_rows', 10) # display a max of 10 rows

In [5]:
anes

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,...,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,...,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,...,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,...,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,...,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,...,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,...,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,...,2,2,2.0,__NA__,1

In [6]:
anes.head(10)

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,...,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,...,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,...,2,2,3.0,__NA__,2
5,6.0,1,NaN,3.0,100,...,2,2,1.0,__NA__,2
6,7.0,1,NaN,3.0,100,...,2,2,1.0,__NA__,1
7,8.0,1,NaN,1.0,100,...,2,6,1.0,__NA__,1
8,NaN,1,NaN,1.0,100,...,1,2,1.0,__NA__,2
9,10.0,1,NaN,2.0,100,...,1,1,1.0,__NA__,2

In [7]:
anes.tail(10)

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
1190,1191.0,1,NaN,2.0,100,...,2,5,12.0,__NA__,1
1191,1192.0,1,NaN,2.0,100,...,2,6,2.0,__NA__,2
1192,1193.0,1,NaN,3.0,100,...,2,5,12.0,__NA__,1
1193,1194.0,1,NaN,2.0,53,...,2,2,2.0,__NA__,2
1194,1195.0,1,NaN,3.0,50,...,1,3,1.0,__NA__,2
1195,1196.0,1,NaN,2.0,100,...,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,...,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,...,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,...,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,...,2,2,2.0,__NA__,1

In [8]:
pd.set_option('display.max_rows', None) #to see all the variables
anes.dtypes

caseid               float64
turnout12              int64
turnout12b           float64
vote12               float64
percent16              int64
meet                   int64
givefut                int64
info                   int64
march                  int64
sign                   int64
give12mo               int64
compromise             int64
ftobama              float64
ftblack              float64
ftwhite                int64
fthisp               float64
ftgay                float64
ftjeb                float64
fttrump              float64
ftcarson             float64
fthrc                float64
ftrubio              float64
ftcruz               float64
ftsanders            float64
ftfiorina            float64
ftpolice             float64
ftfem                float64
fttrans              float64
ftmuslim             float64
ftsci                float64
reg                    int64
demcand                int64
repcand              float64
vote16jb             float64
vote16bc             float64
vote16tc             float64
vote16mr             float64
vote16dt             float64
presjob                int64
lazyb                  int64
lazyw                  int64
lazyh                  int64
lazym                  int64
violentb               int64
violentw               int64
violenth               int64
violentm               int64
econnow                int64
econ12mo               int64
pid1d                float64
pid2d                 object
pid1r                float64
pid2r                 object
pidstr               float64
pidlean              float64
lcself                 int64
lcd                    int64
lcr                    int64
lchc                   int64
lcbo                   int64
lcdt                   int64
lcmr                   int64
lctc                   int64
srv_spend              int64
campfin                int64
immig_legal            int64
immig_numb             int64
equalpay               int64
parleave               int64
crimespend             int64
death                  int64
terror_worry         float64
terror_12mo          float64
terror_local           int64
relig_bc               int64
relig_bcstr          float64
relig_srv              int64
relig_srvstr         float64
incgap20               int64
isis_troops            int64
syrians_a            float64
syrians_b            float64
pc_a                 float64
pc_b                 float64
minwage                int64
healthspend            int64
childcare              int64
getahead               int64
ladder                 int64
finwell                int64
warm                   int64
warmbad                int64
warmcause              int64
warmdo                 int64
freetrade              int64
stopwhite              int64
stopblack              int64
forcewhite             int64
forceblack             int64
stop_12mo            float64
arrested_12mo        float64
charged_12mo         float64
jailed_12mo          float64
convict_12mo         float64
famstop_12mo         float64
stop_ever            float64
arrested_ever        float64
charged_ever         float64
jailed_ever          float64
convict_ever         float64
famstop_ever         float64
pk_deficit             int64
pk_sen               float64
pk_spend               int64
birthright_a         float64
birthright_b         float64
femoff_jobs          float64
femoff_ed            float64
femoff_spend         float64
femoff_issues        float64
lpres_pleased          int64
lpres_immig          float64
lpres_la             float64
vaccine                int64
autism                 int64
bo_muslim              int64
bo_confid            float64
amer_ident             int64
race_ident             int64
whitework            float64
whitejob             float64
wguilt1              float64
wguilt2              float64
wguilt3              float64
buycott                int64
boycott                int64
skintone_mob           int64
skintone             float64
skin_discrim           int64
africanam10_1        float64
white10_1            float64
hispanic10_1         float64
asianam10_1          float64
nativeam10_1           int64
other10_1            float64
other10_open          object
birthyr                int64
gender                 int64
race                   int64
race_other            object
educ                   int64
marstat                int64
speakspanish           int64
employ               float64
employ_t              object
faminc               float64
faminc2                int64
state                float64
votereg                int64
pid3                   int64
pid7                 float64
ideo5                  int64
newsint                int64
pew_bornagain          int64
pew_churatd            int64
religpew             float64
religpew_t            object
ever_vs_12mo_rand      int64
dtype: object

In [9]:
pd.set_option('display.max_rows', 10)

In [10]:
pd.set_option('display.max_seq_items', None)

In [11]:
anes.columns

Index(['caseid', 'turnout12', 'turnout12b', 'vote12', 'percent16', 'meet',
       'givefut', 'info', 'march', 'sign', 'give12mo', 'compromise', 'ftobama',
       'ftblack', 'ftwhite', 'fthisp', 'ftgay', 'ftjeb', 'fttrump', 'ftcarson',
       'fthrc', 'ftrubio', 'ftcruz', 'ftsanders', 'ftfiorina', 'ftpolice',
       'ftfem', 'fttrans', 'ftmuslim', 'ftsci', 'reg', 'demcand', 'repcand',
       'vote16jb', 'vote16bc', 'vote16tc', 'vote16mr', 'vote16dt', 'presjob',
       'lazyb', 'lazyw', 'lazyh', 'lazym', 'violentb', 'violentw', 'violenth',
       'violentm', 'econnow', 'econ12mo', 'pid1d', 'pid2d', 'pid1r', 'pid2r',
       'pidstr', 'pidlean', 'lcself', 'lcd', 'lcr', 'lchc', 'lcbo', 'lcdt',
       'lcmr', 'lctc', 'srv_spend', 'campfin', 'immig_legal', 'immig_numb',
       'equalpay', 'parleave', 'crimespend', 'death', 'terror_worry',
       'terror_12mo', 'terror_local', 'relig_bc', 'relig_bcstr', 'relig_srv',
       'relig_srvstr', 'incgap20', 'isis_troops', 'syrians_a', 'syrians_b',
       'pc_a', 'pc_b', 'minwage', 'healthspend', 'childcare', 'getahead',
       'ladder', 'finwell', 'warm', 'warmbad', 'warmcause', 'warmdo',
       'freetrade', 'stopwhite', 'stopblack', 'forcewhite', 'forceblack',
       'stop_12mo', 'arrested_12mo', 'charged_12mo', 'jailed_12mo',
       'convict_12mo', 'famstop_12mo', 'stop_ever', 'arrested_ever',
       'charged_ever', 'jailed_ever', 'convict_ever', 'famstop_ever',
       'pk_deficit', 'pk_sen', 'pk_spend', 'birthright_a', 'birthright_b',
       'femoff_jobs', 'femoff_ed', 'femoff_spend', 'femoff_issues',
       'lpres_pleased', 'lpres_immig', 'lpres_la', 'vaccine', 'autism',
       'bo_muslim', 'bo_confid', 'amer_ident', 'race_ident', 'whitework',
       'whitejob', 'wguilt1', 'wguilt2', 'wguilt3', 'buycott', 'boycott',
       'skintone_mob', 'skintone', 'skin_discrim', 'africanam10_1',
       'white10_1', 'hispanic10_1', 'asianam10_1', 'nativeam10_1', 'other10_1',
       'other10_open', 'birthyr', 'gender', 'race', 'race_other', 'educ',
       'marstat', 'speakspanish', 'employ', 'employ_t', 'faminc', 'faminc2',
       'state', 'votereg', 'pid3', 'pid7', 'ideo5', 'newsint', 'pew_bornagain',
       'pew_churatd', 'religpew', 'religpew_t', 'ever_vs_12mo_rand'],
      dtype='object')

In [12]:
anes.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 168 columns):
 #    Column             Dtype
---   ------             -----
 0    caseid             float64
 1    turnout12          int64
 2    turnout12b         float64
 3    vote12             float64
 4    percent16          int64
 5    meet               int64
 6    givefut            int64
 7    info               int64
 8    march              int64
 9    sign               int64
 10   give12mo           int64
 11   compromise         int64
 12   ftobama            float64
 13   ftblack            float64
 14   ftwhite            int64
 15   fthisp             float64
 16   ftgay              float64
 17   ftjeb              float64
 18   fttrump            float64
 19   ftcarson           float64
 20   fthrc              float64
 21   ftrubio            float64
 22   ftcruz             float64
 23   ftsanders          float64
 24   ftfiorina          float64
 25   ftpolice           float64
 26   ftfem              float64
 27   fttrans            float64
 28   ftmuslim           float64
 29   ftsci              float64
 30   reg                int64
 31   demcand            int64
 32   repcand            float64
 33   vote16jb           float64
 34   vote16bc           float64
 35   vote16tc           float64
 36   vote16mr           float64
 37   vote16dt           float64
 38   presjob            int64
 39   lazyb              int64
 40   lazyw              int64
 41   lazyh              int64
 42   lazym              int64
 43   violentb           int64
 44   violentw           int64
 45   violenth           int64
 46   violentm           int64
 47   econnow            int64
 48   econ12mo           int64
 49   pid1d              float64
 50   pid2d              object
 51   pid1r              float64
 52   pid2r              object
 53   pidstr             float64
 54   pidlean            float64
 55   lcself             int64
 56   lcd                int64
 57   lcr                int64
 58   lchc               int64
 59   lcbo               int64
 60   lcdt               int64
 61   lcmr               int64
 62   lctc               int64
 63   srv_spend          int64
 64   campfin            int64
 65   immig_legal        int64
 66   immig_numb         int64
 67   equalpay           int64
 68   parleave           int64
 69   crimespend         int64
 70   death              int64
 71   terror_worry       float64
 72   terror_12mo        float64
 73   terror_local       int64
 74   relig_bc           int64
 75   relig_bcstr        float64
 76   relig_srv          int64
 77   relig_srvstr       float64
 78   incgap20           int64
 79   isis_troops        int64
 80   syrians_a          float64
 81   syrians_b          float64
 82   pc_a               float64
 83   pc_b               float64
 84   minwage            int64
 85   healthspend        int64
 86   childcare          int64
 87   getahead           int64
 88   ladder             int64
 89   finwell            int64
 90   warm               int64
 91   warmbad            int64
 92   warmcause          int64
 93   warmdo             int64
 94   freetrade          int64
 95   stopwhite          int64
 96   stopblack          int64
 97   forcewhite         int64
 98   forceblack         int64
 99   stop_12mo          float64
 100  arrested_12mo      float64
 101  charged_12mo       float64
 102  jailed_12mo        float64
 103  convict_12mo       float64
 104  famstop_12mo       float64
 105  stop_ever          float64
 106  arrested_ever      float64
 107  charged_ever       float64
 108  jailed_ever        float64
 109  convict_ever       float64
 110  famstop_ever       float64
 111  pk_deficit         int64
 112  pk_sen             float64
 113  pk_spend           int64
 114  birthright_a       float64
 115  birthright_b       float64
 116  femoff_jobs        float64
 117  femoff_ed          float64
 118  femoff_spend       float64
 119  femoff_issues      float64
 120  lpres_pleased      int64
 121  lpres_immig        float64
 122  lpres_la           float64
 123  vaccine            int64
 124  autism             int64
 125  bo_muslim          int64
 126  bo_confid          float64
 127  amer_ident         int64
 128  race_ident         int64
 129  whitework          float64
 130  whitejob           float64
 131  wguilt1            float64
 132  wguilt2            float64
 133  wguilt3            float64
 134  buycott            int64
 135  boycott            int64
 136  skintone_mob       int64
 137  skintone           float64
 138  skin_discrim       int64
 139  africanam10_1      float64
 140  white10_1          float64
 141  hispanic10_1       float64
 142  asianam10_1        float64
 143  nativeam10_1       int64
 144  other10_1          float64
 145  other10_open       object
 146  birthyr            int64
 147  gender             int64
 148  race               int64
 149  race_other         object
 150  educ               int64
 151  marstat            int64
 152  speakspanish       int64
 153  employ             float64
 154  employ_t           object
 155  faminc             float64
 156  faminc2            int64
 157  state              float64
 158  votereg            int64
 159  pid3               int64
 160  pid7               float64
 161  ideo5              int64
 162  newsint            int64
 163  pew_bornagain      int64
 164  pew_churatd        int64
 165  religpew           float64
 166  religpew_t         object
 167  ever_vs_12mo_rand  int64
dtypes: float64(76), int64(86), object(6)
memory usage: 1.5+ MB

In [13]:
anes[['ftobama']].describe()

           ftobama
count  1193.000000
mean     50.442582
std      54.350731
min       0.000000
25%       5.000000
50%      54.000000
75%      87.000000
max     998.000000

In [14]:
anes[['ftobama']].describe(percentiles = [.2, .4, .6, .8])

           ftobama
count  1193.000000
mean     50.442582
std      54.350731
min       0.000000
20%       3.000000
40%      31.000000
50%      54.000000
60%      70.000000
80%      90.000000
max     998.000000

In [15]:
anes.describe(include="object")

         pid2d   pid2r other10_open race_other employ_t religpew_t
count     1200    1199           94       1200     1200       1200
unique      37      31           57          1        1         11
top     __NA__  __NA__            0     __NA__   __NA__     __NA__
freq      1159    1162           17       1200     1200       1188

In [16]:
url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example_toplines.csv"
import requests
file = requests.get(url)
print(file.text[0:1000])

THIS IS THE ANES 2016 PILOT STUDY
DOWNLOADED AND EDITED BY JON KROPKO
WHO ALSO ADDED THESE LINES AT THE TOP OF THE DATA FILE
TO ANNOY HIS STUDENTS
caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,give12mo,compromise,ftobama,ftblack,ftwhite,fthisp,ftgay,ftjeb,fttrump,ftcarson,fthrc,ftrubio,ftcruz,ftsanders,ftfiorina,ftpolice,ftfem,fttrans,ftmuslim,ftsci,reg,demcand,repcand,vote16jb,vote16bc,vote16tc,vote16mr,vote16dt,presjob,lazyb,lazyw,lazyh,lazym,violentb,violentw,violenth,violentm,econnow,econ12mo,pid1d,pid2d,pid1r,pid2r,pidstr,pidlean,lcself,lcd,lcr,lchc,lcbo,lcdt,lcmr,lctc,srv_spend,campfin,immig_legal,immig_numb,equalpay,parleave,crimespend,death,terror_worry,terror_12mo,terror_local,relig_bc,relig_bcstr,relig_srv,relig_srvstr,incgap20,isis_troops,syrians_a,syrians_b,pc_a,pc_b,minwage,healthspend,childcare,getahead,ladder,finwell,warm,warmbad,warmcause,warmdo,freetrade,stopwhite,stopblack,forcewhite,forceblack,stop_12mo,arrested_12mo,charged_12mo,jailed_12

In [20]:
anes = pd.read_csv('anes_example_toplines.csv', header = 4)
anes

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,...,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,...,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,...,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,...,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,...,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,...,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,...,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,...,2,2,2.0,__NA__,1

In [22]:
file = "anes_example_missing.csv"
anes = pd.read_csv(file)
anes

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1,1,-999,2,100,...,2,6,-999,__NA__,2
1,2,2,-999,-999,50,...,2,4,2,__NA__,1
2,3,1,-999,1,100,...,2,6,1,__NA__,1
3,4,1,-999,2,100,...,2,6,-999,__NA__,1
4,5,1,-999,1,100,...,2,2,3,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...
1195,1196,1,-999,2,100,...,2,1,1,__NA__,2
1196,1197,1,-999,1,80,...,1,2,1,__NA__,1
1197,1198,1,-999,2,95,...,2,6,-999,__NA__,2
1198,1199,1,-999,2,80,...,2,4,1,__NA__,1
1199,1200,2,-999,-999,0,...,2,2,2,__NA__,1

In [24]:
anes = pd.read_csv(file, na_values = -999)
anes

,caseid,turnout12,turnout12b,vote12,percent16,...,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,...,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,...,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,...,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,...,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,...,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,...,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,...,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,...,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,...,2,2,2.0,__NA__,1

In [ ]:
os.chdir(oldpath)